{{> header}}

<div style='padding: 20px; font-family: Arial, sans-serif; font-size: 14px; color: #333;'>

  <p>Bonjour {{name}},</p>

  <p>Vous avez été invité à rejoindre notre plateforme. Cette invitation vous a été envoyée intentionnellement par notre équipe ou par l’un de vos collègues.</p>

  <p>Pour finaliser la création de votre compte et commencer à utiliser nos services, veuillez confirmer votre adresse e-mail en cliquant sur le bouton ci-dessous :</p>

  <div style="text-align: center; margin: 30px 0;">
    <a href="{{verification_link}}" style="background-color: #007BFF; color: #ffffff; padding: 12px 20px; text-decoration: none; border-radius: 4px;">
      Valider mon compte
    </a>
    <p style="font-size: 12;">Votre mot de passe : {{temporaryPassword}}</p>
  </div>

  <p>⚠️ Si vous n'attendiez pas cette invitation, il est possible qu'une personne ait entré votre adresse par erreur. Dans ce cas, vous pouvez simplement ignorer ce message. Votre adresse ne sera pas utilisée sans votre consentement.</p>

  <p>Merci de votre confiance,</p>
  <p>L’équipe Gesta</p>

</div>

{{> footer}}
